[Unit]
# senti-watchman.service
Description=Senti Watchman monitors/updates Senti MQTT Client
Documentation=https://github.com/senti-platform/senti-watchman/blob/master/README.md
# After=network.target

[Service]
WorkingDirectory=/srv/nodejs/senti/senti-watchman
ExecStart=/usr/local/bin/node server.js
Type=simple
Restart=always
# RestartSec=1
StartLimitInterval=0
User=root
Group=root
# KillSignal=SIGQUIT

[Install]
WantedBy=basic.target
