[Unit]
Description=Senti Watchman is a sentinel service that monitors the senti-mqtt-client and update/restart the client when needed
Documentation=https://github.com/senti-platform/senti-watchman/blob/master/README.md

[Service]
WorkingDirectory=/srv/nodejs/senti/senti-watchman
ExecStart=/usr/local/bin/node server.js
Type=simple
